body {
  font-size: 100%;
  font-family: "Muli", sans-serif;
  letter-spacing: 0.1em;
  background-color: #ffffff;
  margin-right: 15px;
}

#header {
  max-width: 1350px !important;
  min-width: 800px;
  border: none;
  /* background-color: #f3f3f3; */
}

.clear-fix{
  display: inline-block;
}
#container-total{
  text-align: center;
  margin: 0 auto;
}

#content{
  text-align: center;
  margin-left: 30px;
}

/*Back To Top*/
#myBtn {
	display: none;
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 40px;
	right: 20px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: #db941d;
	color: white;
	cursor: pointer;
	padding: 10px;
	border-radius: 30px;
  opacity: 0.7;
}

#myBtn:hover {
	background-color: #e4c58f;
}

#myBtn i{
  padding-bottom: 10px !important;
  font-size: 25px;
}











  







