body {
  font-size: 100%;
  font-family: "Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  letter-spacing: 0.1em;
  background-color: #ffffff;
}
#nav {
  max-width: 1350px;
  min-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: none;
  background-color: #f1f1f1;
}

/*header*/
#header{ height:115px; 
	width: 1260px; 
	box-sizing: border-box;
	background: rgb(226, 226, 226);
	margin: 0px auto;
	padding-top: 0px;
  margin-bottom: 15px;
}
.logo{
	height: 105px;
	max-width: 300px;
	padding: 0 25px;
	margin: 5px;
	float: left;
	overflow: hidden;
  display: block;
  position: absolute;
  z-index: 10;
	}

.logo img{
  width: 100%;
  height: 100%;
}

#menu>ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	float: right;
	padding-top: 40px;
}
#menu>ul>li {
  display: inline-block;
  margin: 0px 15px;
	font-size: 18.5px;
  font-weight: 500;
}
#menu>ul>li>a {
	text-decoration: none;
	color: #303030;
}
	
/*Banner*/

/*welcome*/
#welcome {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #3f3f3f;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.title-welcome {
  font-size: 40px;
  margin: 0px;
}
.text-welcome {
  margin-top: 15px;
  margin-bottom: 25px;
}
.button-welcome button {
  height: 30px;
  background: #303030;
  color: white;
  border: none;
  padding: 3px 13px;
  box-shadow: 2px 3px 1px 0px #868686;
  border-radius: 3px 3px 7px 7px;
  margin-bottom: 35px;
  text-align: center;
}
.button-welcome a {
  font-weight: bolder;
  text-decoration: none;
  color: #e4e4e4;
}

/*futured-products*/
.container2 {
  max-width: 900px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  color: #303030;
  box-sizing: border-box;
  overflow-x: hidden;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

#title-futured {
  text-align: center;
}
#title-futured h1 {
  font-size: 40px;
  margin: 0px;
}
#title-futured span {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 15px;
}

.post-list {
  max-width: 950px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.post-media {
  margin-bottom: 10px;
  display: block;
}

.post-image {
  width: 100%;
  height: 310px;
  border-radius: 12px;
  object-fit: cover;
}

.post-feature {
  max-width: 950px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 0 20px;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
}

.post-feature-media {
  margin-bottom: 0;
}

.post-feature-image {
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: 350px;
}

.post-category {
  display: grid;
  position: relative;
  border-radius: 10px;
}
.post-category:after {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.post-feature-title {
  line-height: 1.3;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 100%;
}

/*Sale*/
.container-fluid {
  margin-top: 30px;
  width: 1200px !important;
}
.image01 {
  width: 100%;
  height: 35vh;
  border-radius: 5px;
}
.col-padding {
  padding-left: 5px !important;
  padding-right: 5px !important;
  margin-top: 15px;
}

.caption {
  text-align: justify;
  margin-top: 100px;
  margin-left: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.caption01 {
  text-align: center;
  margin-top: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.caption a{
  color: #303030;
  text-decoration: none;
}
/*.button-flex {
  margin: auto;
  display: block !important;
}*/
.clear-fix{
  text-align: center;
}
.button2 {
  display: inline-block;
  font-size: 16px;
  color: #272e35;
  padding: 5px 15px;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  line-height: normal;
  transition: all 0.2s linear;
  margin: 10px auto;
}
.button2 a{
  text-decoration: none;
}

.button--outline2 {
  border: 1px solid;
  color: #;
}

.button--outline2:hover{
  background-color: #303030;
}
.button2 a:hover{
  color: #ff0000;
}


/*news*/
#news-home {
  max-width: 1200px;
  margin: 30px auto;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: white;
  color: #272e35;
  box-sizing: border-box;
  overflow-x: hidden;
}

.container3 {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  margin: 30px 0px 50px 0px;
}

.news-text {
  font-size: 25px;
  padding-left: 25px;
  max-width: 750px;
  max-height: 35.2px;
}
.news-text a:hover {
  display: inline-block;
  border-color: transparent;
  color: #579aff;
}
.news-text a {
  text-decoration: none;
  color: #272e35;
}
.news-text i {
  text-decoration: none;
  padding-left: 8px;
}


.button {
  display: inline-block;
  font-size: 16px;
  color: #272e35;
  padding: 20px 45px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  line-height: normal;
  transition: all 0.2s linear;
}
.button--primary {
  color: white;
  background-color: #579aff;
}
.button--outline {
  border: 1px solid;
  color: #a5b2c3;
}

.news {
  padding-top: 30px;
  padding-bottom: 50px;
}
.news a {
  text-decoration: none;
  color: #272e35;
}

.news-list {
  display: flex;
  justify-content: space-between;
}

.news-item {
  width: calc(33.33% - 46.67px);
  padding: 25px 30px;
  border: 1px solid #eeeeee;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  line-height: 1.4;
  transition: all 0.2s linear;
  margin: 0 20px;
}
.news-item:hover {
  border-color: transparent;
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.03);
}
.news-more {
  transition: all 0.2s linear;
}
.news-item:hover .news-more {
  border-color: #579aff;
  background-color: #579aff;
  color: white;
}

.news-image {
  margin-bottom: 25px;
  max-height: 200px;
  max-width: 280px;
  border-radius: 14px 14px 0 0;
}

.news-title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 0px;
}

.news-desc {
  margin-top: 0px;
  margin-bottom: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 100%;
  word-break: break-word;
}
