/*header*/
  .navbar {
    background-color: white !important;
    margin-top: 0px;
    padding: 10px 15px !important;
  }
  .container-fluid{
    margin: 15px auto !important;
  }
  .navbar-branch {
    width: 25%;
  }

  .navbar-branch img{
    padding-left: 30px;
    float: left !important;
  }

  .navbar-collapse{
    width: 75%;
  }

  .navbar li a {
    color: #0f0f0f!important;
    /* background-color: #fff; */
  }
  .nav-item{
    padding-right: 15px;
  }

  .navbar li a:hover {
    color: #ee0d0d !important;
  }
  .dropdown-menu {
    /* background-color: #fff; */
    text-align: left;
  }
  /*
  #header{ height:115px; 
    width: 1260px; 
    box-sizing: border-box;
    background: rgb(226, 226, 226);
    margin: 0px auto;
    padding-top: 0px;
    margin-bottom: 15px;
  }
  .logo{
    height: 105px;
    max-width: 300px;
    padding: 0 25px;
    margin: 5px;
    float: left;
    overflow: hidden;
    display: block;
    position: absolute;
    z-index: 10;
    }

  .logo img{
    width: 100%;
    height: 100%;
  }

  #menu>ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    float: right;
    padding-top: 40px;
  }
  #menu>ul>li {
    display: inline-block;
    margin: 0px 15px;
    font-size: 18.5px;
    font-weight: 500;
  }
  #menu>ul>li>a {
    text-decoration: none;
    color: #303030;
  }*/
    
