/*welcome*/
#welcome {
    font-family: "Muli", sans-serif;
    text-align: center;
    color: #333333;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .title-welcome {
    font-size: 42px;
    margin: 0px;
    font-weight: 600;
  }
  .text-welcome {
    margin-top: 15px;
    margin-bottom: 25px;
  }
  .button-welcome button {
    height: 30px;
    background: #333333;
    color: white;
    border: none;
    box-shadow: 2px 3px 1px 0px #868686;
    padding: 3px 14px;
    border-radius: 5px 5px 9px 9px;
    margin-bottom: 35px;
    text-align: center;
  }
  .button-welcome a {
    font-size: 13px;
    font-weight: bolder;
    text-decoration: none;
    color: #e4e4e4;
  }
  .button-welcome a:hover{
    color: #db941d;
  }