/*welcome*/
#welcome {
    font-family: "Muli", sans-serif;
    text-align: center;
    color: #333333;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .title-welcome {
    font-size: 42px;
    margin: 0px;
    font-weight: 600;
    color: #db941d;
  }
  .text-welcome {
    margin-top: 15px;
    margin-bottom: 25px;
  }
  .button-welcome button {
    height: 30px;
    background: white;
    /* box-shadow: 2px 3px 1px 0px #868686; */
    padding: 1px 16px;
    border-radius: 12px;
    border-color: #db941d;
    margin-bottom: 35px;
    text-align: center;
  }
  .button-welcome a {
    font-size: 13px;
    font-weight: bolder;
    text-decoration: none;
    color: #333333;
  }
  .button-welcome a:hover{
    color: #db941d;
  }